// Author: Preston Lee

#settings {
    .form-text {
        line-height: 1.5;
        max-width: 52em;
    }
}

// #settings {
//     padding-top: 20px;

//     h1 {
//         text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
//     }

//     th {
//         cursor: pointer;
//     }

//     td {
//         border: 0;
//     }

//     .form-check {
//         label {
//             cursor: pointer;
//         }
//     }

// }
