# CQL Studio UI Environment Variables (Development Defaults)
CQL_STUDIO_SERVER_BASE_URL=http://localhost:3003
CQL_STUDIO_RUNNER_BASE_URL=http://localhost:8091
CQL_STUDIO_RUNNER_FHIR_BASE_URL=http://hapi-r4-data:8080/fhir
CQL_STUDIO_BRAVE_SEARCH_API_KEY=not_using_this_right_now
CQL_STUDIO_OLLAMA_BASE_URL=http://localhost:11434/
CQL_STUDIO_OLLAMA_MODEL=qwen3.8:27b-mlx
CQL_STUDIO_DEFAULT_TEST_RESULTS_INDEX_URL=http://localhost:8092/index.json
